---
import Layout from "../../layouts/Layout.astro";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";

const allPosts = await Astro.glob(
  "../../content/blog/*.md"
);

const { slug } = Astro.params;

// Find the markdown file that matches the slug
const post = allPosts.find(
  (post) => post.frontmatter.slug === slug
);

if (!post) {
  throw new Error(`Post not found for slug: ${slug}`);
}

const { Content, frontmatter } = post;
---

<MarkdownLayout title="jdlms.dev">
  <article class="text-my-white">
    <h1>{frontmatter.title}</h1>
    <p>
      By {frontmatter.author} on {frontmatter.pubDatetime}
    </p>
    <p>{frontmatter.description}</p>
    <Content />
  </article>
</MarkdownLayout>
